body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f3f3f3;
}

h1 {
  color: #333;
}

form,
#search {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#search {
  display: flex;
  align-items: center;
}

#searchInput {
  flex: 1;
  margin-right: 10px;
}

#searchButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#searchButton:hover {
  background-color: #218838;
}

#searchResults {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchResults p {
  margin: 0;
}
/* coypright section */
.copyright {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #007bff, #6c757d);
  color: #fff;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.copyright a {
  color: #fff;
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline;
  color: #fff;
}
